@import '../../styles/theme/theme';

.pagination {
  text-align: center;
  font-family: $font-family-number;
  .prev, .next, .list>.item {
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 50%;
    margin: 0 1px;
    &:hover, &:active, &.active {
      background-color: get-color(primary);
      color: get-color(on-primary);
    }
    ::after {
      margin: 0;
    }
  }
  .list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
