@import '../../styles/theme/theme';

.fLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;

  .avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid get-color(sider-border);
    padding: 1px;
    object-fit: contain;
  }
  .content {
    margin-left: $margin-1;
    .title {
      font-size: .9rem;
      @include external-link();
    }
    .motto {
      opacity: $opacity-3;
      font-size: .6rem;
      margin-top: 2px;
    }
  }
}
