/**
 * 全局样式，编译的时候全局引入
 *
 */

@import './reset.scss';
@import './variables.scss';
@import './markdown.scss';
@import './highlight.scss';

:root {
  --color-dark: #2f3640;
  --color-light-dark: #353b48;
  --color-gray: #dcdde1;
  --color-light-gray: #f5f6fa;

  --width-main: 666px;

  // ::selection {
  //   background-color: var(--color-light-dark);
  //   color: #fff;
  // }

  // 主主字体颜色
  --color-font: #2f3640;
  // 主背景色
  --color-background-main: #f6f6f6;
  // 块背景色
  --color-background-block: #fff;
  // 边框颜色
  --color-border: #dcdde1;
}
