/**
 * 全局样式，编译的时候全局引入
 *
 */

@import './reset.scss';
@import './variables.scss';
@import './markdown.scss';
@import './highlight.scss';

:root {

  // ::selection {
  //   background-color: var(--color-background-accent);
  //   color: #fff;
  // }

  // 主主字体颜色
  --color-font: #2f3640;
  // 背景色
  --color-background: #f6f6f6;
  // 前景色
  --color-foreground: #fff;
  // 强调背景色
  --color-background-accent: #353b48;
  // 边框颜色
  --color-border: #dcdde1;

  --grvsc-line-highlighted-background-color: rgba(255, 255, 255, 0.2); /* default: transparent */
  --grvsc-line-highlighted-border-color: rgba(255, 255, 255, 0.5); /* default: transparent */
  --grvsc-line-highlighted-border-width: 4px; /* default: 4px */
}
