@import 'theme/theme';
@import 'fonts/icomoon.scss';
@import 'fonts/josefinsans.scss';
@import 'fonts/sarpanch.scss';
@import 'fonts/lobster.scss';

$light: (
  primary-text : #363636,
  background   : #f6f6f6,
  primary      : #607d8b,
  primary-light: #8eacbb,
  primary-dark : #34515e,
  on-primary   : #ffffff,
  surface      : #ffffff,
  sider-border : #e0e0e0,
  avatar-border: rgba(96,125,139,.4),
);

@include theme-core();
@include theme-color($light);
