/**
 * 重置样式，对全局元素进行样式重置
 *
 */
@import './variables.scss';

* {
  transition: background-color .2s;
}

html {
  font-size: $font-size;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  background-attachment: fixed;
  font-family: $font-family;
  color: var(--color-font);
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.5;
}
h1 {
  font-size: $heading-1;
}
h2 {
  font-size: $heading-2;
}
h3 {
  font-size: $heading-3;
}
h4 {
  font-size: $heading-4;
}
h5, h6 {
  font-size: $heading-5;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  word-break: break-word;
  line-height: 1.8;
}
