

$font-size: 14px;
$layout-width: 960px; // 布局区宽度
$main-width: 690px; // 主要内容区宽度
$sider-width: $layout-width - $font-size * 2 - $main-width; // 侧边栏宽度
$footer-height: 8rem;
$tab-bar-height: calc(44px + env(safe-area-inset-bottom, 0px));

// 全局字体
$font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
// Johnson标题字体
$font-family-title: 'Lobster', 'cursive', 'Josefin Sans','PingFang SC','Microsoft YaHei';
// 数字字体
$font-family-number: 'Sarpanch', 'Josefin Sans';
// 代码字体
$font-family-code: 'Fira Code', 'Consolas', 'monospace';

$margin-1: .5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;

$padding-1: .5rem;
$padding-2: 1rem;
$padding-3: 1.5rem;
$padding-4: 2rem;

$heading-1: 1.785714rem;
$heading-2: 1.428571rem;
$heading-3: 1.285714rem;
$heading-4: 1.142857rem;
$heading-5: 1rem;

$opacity-1: .8;
$opacity-2: .63;
$opacity-3: .5;

@mixin card {
  background-color: var(--color-foreground);
  overflow: hidden;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .08);
  transition: box-shadow .15s;
}
