@import '../../styles/theme/theme';

.sider {
  position: fixed;
  width: 280px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid get-color(sider-border);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .container {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .profileCard {
    margin: 1rem 1rem .5rem;
    overflow: visible;
    text-align: center;
    .avatarContainer {
      display: inline-block;
      border: 1px solid get-color(avatar-border);
      padding: 2px;
      border-radius: 50%;
      width: fit-content;
      margin-top: 2.4rem;
      .avatar {
        display: block;
        width: 118px;
        height: 118px;
        border-radius: 50%;
      }
    }

    .name {
      text-align: center;
      margin: 1.5rem 0;
      font-family: $font-family-johnson;
    }

    .motto {
      text-align: center;
      line-height: 1.5;
      opacity: .63;
      padding: 0 1.5rem 1.5rem;
    }
  }

  .tabsCard {
    padding: 0 1rem;
    margin: 1rem;
    display: flex;
    text-align: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    justify-content: space-around;

    .tabItem {
      position: relative;
      padding: 1.25rem 0;
      min-width: 24%;

      &:hover, &:active, &.active {
        color: get-color(primary);
        &::after {
          transform: scaleY(1);
        }
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 62%;
        height: .3rem;
        content: "";
        transition: transform .4s;
        transform: scaleY(0);
        transform-origin: bottom center;
        border-radius: 3px 3px 0 0;
        background-color: get-color(primary);
      }

      .count {
        font-family: $font-family-number;
        margin: 0 .5rem;
        margin-bottom: .75rem;
        font-size: 1.4rem;
        line-height: 1;
        display: block;
      }

      .title {
        font-size: .95rem;
        opacity: .63;
        display: block;
        line-height: 1;
      }
    }
  }

}

@media screen and (max-width: 960px) {
  .sider {
    // position: fixed;
    display: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: .8rem;
  p {
    margin: .2rem 0;
  }
  .snsList {
    text-align: center;
    .snsItem {
      margin: 0 .2rem;
      font-size: 1.2rem;
    }
  }
}
