@import '../../styles/theme/theme';

.sider {
  position: fixed;
  width: 280px;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-right: 1px solid get-color(sider-border);

  &::-webkit-scrollbar {
    width: 0;
  }

  .container {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    margin-right: -1rem;
    padding-right: 1rem;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .profileCard {
    margin: 1rem 1rem .5rem;
    overflow: visible;
    text-align: center;
    .avatarContainer {
      display: inline-block;
      border: 1px solid get-color(avatar-border);
      padding: 2px;
      border-radius: 50%;
      width: fit-content;
      margin-top: 2.4rem;
      .avatar {
        display: block;
        width: 118px;
        height: 118px;
        border-radius: 50%;
      }
    }

    .name {
      text-align: center;
      margin: 1.5rem 0;
      font-family: $font-family-johnson;
    }

    .motto {
      text-align: center;
      line-height: 1.5;
      opacity: .63;
      padding: 0 1.5rem 1.5rem;
    }
  }

  .tabsCard {
    padding: 0 1rem;
    margin: 1rem;
    display: flex;
    text-align: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    justify-content: space-around;

    .tabItem {
      position: relative;
      padding: 1.25rem 0;
      min-width: 24%;

      &:hover, &:active, &.active {
        color: get-color(primary);
        &::after {
          transform: scaleY(1);
        }
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 62%;
        height: .3rem;
        content: "";
        transition: transform .4s;
        transform: scaleY(0);
        transform-origin: bottom center;
        border-radius: 3px 3px 0 0;
        background-color: get-color(primary);
      }

      .count {
        font-family: $font-family-number;
        margin: 0 .5rem;
        margin-bottom: .75rem;
        font-size: 1.4rem;
        line-height: 1;
        display: block;
      }

      .title {
        font-size: .95rem;
        opacity: .63;
        display: block;
        line-height: 1;
      }
    }
  }

}

.nav {
  margin: 2rem 0 3rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .navItem {
    position: relative;
    display: block;
    padding-right: 2rem;
    border-color: inherit;
    text-align: right;
    text-transform: capitalize;
    white-space: pre;
    line-height: 3rem;
    transition: all .15s;
    font-family: $font-family-nav;

    &:active, &:hover, &.active {
      color: get-color(primary);
      font-size: 1.168rem;
      transition: all .15s;

      &::after {
        background-color: get-color(primary);
        background-image: none;
      }
    }

    &::after {
      box-shadow: 0 0 0 1px #e0e0e0;
      position: absolute;
      top: 50%;
      right: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      content: "";
      transform: translate(50%,-50%);
      background: #ffffff url(/images/brickwall.png);
    }
  }
}

.footer {
  text-align: center;
  line-height: 1.4;
  padding: 1rem 1rem .75rem;
  box-sizing: border-box;

  &.fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1rem;
  }
  >p {
    font-size: .85rem;
    line-height: 1.8;
    margin: .25rem 0 0;
  }
  .snsList {
    text-align: center;
    margin: 0 1rem 1rem;
    user-select: none;
    .snsItem {
      margin: 0 .4rem;
      font-size: 1.428rem;
    }
  }
}
