@import '../../styles/variables.scss';

.sider {
  position: absolute;
  top: $margin-4;
  width: $sider-width;
  height: 100%;

  .profileCard {
    padding: $padding-2;

    .themeHandler {
      width: fit-content;
      height: fit-content;
      position: absolute;
      right: $margin-2;
      cursor: pointer;
    }

    .avatarContainer {
      border: 1px solid var(--color-gray);
      padding: 2px;
      border-radius: 50%;
      width: fit-content;
      margin: auto;
      .avatar {
        display: block;
        width: 118px;
        height: 118px;
        border-radius: 50%;
      }
    }

    .name {
      text-align: center;
      margin: $margin-3 0;
      font-size: $heading-1;
      font-family: $font-family-title;
    }

    .motto {
      text-align: center;
      line-height: 1.5;
      opacity: $opacity-2;
    }

    .snsList {
      margin: $margin-4 0 0;
      text-align: center;
      .snsItem {
        margin: 0 .5rem;
      }
    }
  }

  .tabsCard {
    padding: 0 $padding-2;
    margin: $margin-2 0;

    .tabList {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      .tabItem {
        flex: auto;
        text-align: center;
        position: relative;
        padding: $padding-2 0;

        &:hover, &:active, &.active {
          &::after {
            transform: scaleY(1);
          }
        }

        &::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 62%;
          height: .3rem;
          content: "";
          transition: transform .4s;
          transform: scaleY(0);
          transform-origin: bottom center;
          border-radius: 3px 3px 0 0;
          background-color: var(--color-dark);
        }

        .count {
          font-family: $font-family-number;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .sider {
    // position: fixed;
    display: none;
  }
}
