@import '../../styles/variables.scss';

.layout {
  max-width: $layout-width;
  margin: auto;
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 960px) {
    padding-bottom: $tab-bar-height;
  }
  .main {
    min-height: 100vh;
    position: relative;
    max-width: $main-width;
    margin-left: 2 * $font-size + $sider-width;
    padding-bottom: $footer-height;
    padding-top: $padding-4;
    box-sizing: border-box;

    @media screen and (max-width: 960px) {
      padding: $padding-2 $padding-2 $footer-height;
      margin: auto;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      bottom: $margin-2;
      text-align: center;
      opacity: $opacity-2;

      .copyright {
        .author {
          border-bottom: 1px dotted;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
      .beian {
        margin: $margin-1 0 0;
        >a {
          border-bottom: 1px dotted;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
      .visit {
        margin: $margin-1 0 0;
      }
    }
  }

  .tabBar {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
