@import '../../styles/variables.scss';

.layout {
  max-width: $layout-width;
  margin: auto;
  padding: $padding-4 0;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  .main {
    min-height: 100%;
    position: relative;
    max-width: $main-width;
    margin-left: 2 * $font-size + $sider-width;
    padding-bottom: $footer-height;
    box-sizing: border-box;

    @media screen and (max-width: 960px) {
      padding: 0 $padding-2 $footer-height;
      margin: auto;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      bottom: $margin-2;
      text-align: center;
      color: var(--color-light-dark);

      .copyright {
        .author {
          border-bottom: 1px dotted;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
      .beian {
        margin: $margin-1 0 0;
        >a {
          border-bottom: 1px dotted;
          &:hover {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
}
