@import '../../styles/theme/theme';

.card {
  background-color: get-color(surface);
  overflow: hidden;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 6px;
  // box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow .15s;
  @include tablet {
    border-radius: 0;
  }
}
