@import '../../styles/theme/theme';

.iconCalendar {
  @include icomoon($icon-calendar);
}

.iconClock {
  @include icomoon($icon-clock);
}

.iconFolder {
  @include icomoon($icon-folder);
}

.header {
  padding: 2.5rem 0 1rem;
  .title {
    padding: 0 2.15rem;
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .meta {
    margin: 1rem 0;
    padding: 1rem 2.15rem;
    background-color: get-color(background);
    .item {
      margin-right: 1rem;
    }
  }
}
.headerWidthCover {
  position: relative;
  .infoPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 2.5rem $padding-4 1rem;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.75));
    @include mobile {
      padding: 2.5rem $padding-2 1rem;
    }
    .meta {
      .item {
        margin-right: 1rem;
      }
    }
    .line {
      margin: .7rem 0 1rem;
      height: 2px;
      border: 0;
      background: #fff;
      opacity: .5;
    }
    .title {
      line-height: 1.5;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}

.toc {
  // position: sticky;
  // top: $margin-4;
  padding: $padding-3 $padding-4 $padding-3 $padding-2;
  margin: 1rem;
  ul {
    margin: 0;
    padding-left: $padding-2;
    list-style: none;
    li {
      line-height: 1.5;
      a {
        position: relative;
        &:hover, &:active {
          border-bottom: 1px dotted get-color(primary-text);
        }
      }
    }
    p {
      margin: 0;
    }
  }
}

.content {
  padding: $padding-4;

  @media screen and (max-width: 960px) {
    padding: $padding-2 $padding-2;
  }
}

.comment {
  padding: $padding-4;

  @media screen and (max-width: 960px) {
    padding: $padding-2;
  }
}
