.archives {
  padding: 2rem;

  .yearSection {
    margin-top: -2rem;
    position: relative;
    padding: 2rem 0;

    &::before {
      position: absolute;
      top: 0;
      left: 1.5rem;
      height: 100%;
      border-left: 1px solid;
      border-color: var(--color-gray);
      content: "";
    }

    &:last-of-type {
      margin-bottom: -2.15rem;
      padding-bottom: 6rem;
    }

    .year {
      background-color: #fff;
      margin: 0;
      line-height: 2.4;
      font-size: 1.8rem;
      font-weight: 400;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      position: relative;
    }

    .monthSection {
      padding-left: 3rem;
      position: relative;
      .month {
        position: absolute;
        background-color: #fff;
        top: 1.5rem;
        left: 1.5rem;
        padding: 0 .6em;
        border-radius: 2em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 2;
        transform: translate3d(-50%,-50%,0) scale3d(.75,.75,1);
        &::after {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: inherit;
          content: "";
          opacity: .63;
          transition: opacity .4s;
          position: absolute;
          background-color: var(--color-light-dark);
        }
      }

      .list {
        >.item {
          position: relative;
          display: block;
          margin-left: 1.5rem;
          padding: .5rem 0;
          line-height: 2rem;
          transition: color .15s;
          line-height: 2rem;

          &::before {
            position: absolute;
            top: 1.5rem;
            left: -1rem;
            content: "-";
            opacity: .63;
            transform: translateY(-50%);
          }

          .date {
            float: left;
            padding-right: .5rem;
            white-space: nowrap;
            letter-spacing: 1px;
            font-size: .85rem;
            opacity: .63;
          }

          .title {
            display: table-cell;
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}
