@import '../../styles/variables.scss';

.archives {
  padding: $padding-4;

  .yearSection {
    margin-top: -$padding-4;
    position: relative;
    padding: $padding-4 0;

    &::before {
      position: absolute;
      top: 0;
      left: $margin-3;
      height: 100%;
      border-left: 1px solid;
      border-color: var(--color-gray);
      content: "";
    }

    &:last-of-type {
      margin-bottom: -$margin-4;
      padding-bottom: 3 * $padding-4;
    }

    .year {
      background-color: #fff;
      margin: 0;
      line-height: 2.4;
      font-size: 1.8rem;
      font-weight: 400;
      margin-block-start: $margin-2;
      margin-block-end: $margin-2;
      position: relative;
    }

    .monthSection {
      padding-left: $margin-2 + $margin-4;
      position: relative;
      .month {
        position: absolute;
        background-color: #fff;
        top: $margin-3;
        left: $margin-3;
        padding: 0 .6em;
        border-radius: 2em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 2;
        transform: translate3d(-50%,-50%,0) scale3d(.75,.75,1);
        &::after {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: inherit;
          content: "";
          opacity: .63;
          transition: opacity .4s;
          position: absolute;
          background-color: var(--color-light-dark);
        }
      }

      .list {
        >.item {
          position: relative;
          display: block;
          margin-left: $margin-3;
          padding: $padding-1 0;
          line-height: 2rem;
          transition: color .15s;
          line-height: 2rem;

          &::before {
            position: absolute;
            top: $margin-3;
            left: -$margin-2;
            content: "-";
            opacity: .63;
            transform: translateY(-50%);
          }

          .date {
            float: left;
            padding-right: $padding-1;
            white-space: nowrap;
            letter-spacing: 1px;
            font-size: .85rem;
            opacity: .63;
          }

          .title {
            display: table-cell;
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}

.pager {
  margin-top: $margin-3;
}
