@import '../styles/theme/theme';

.searchBar {
  background-color: get-color(surface);
  padding: $padding-2 $padding-4;
  margin-bottom: $margin-1;
  position: sticky;
  top: 2rem;
  z-index: 9;

  .loaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    .loader {
      color: get-color(primary-text);
      opacity: $opacity-2;
      animation: spin 1.5s linear infinite;
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .searchInput {
    border: none;
    outline: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background: transparent;
    display: block;
    width: 100%;
    box-sizing: border-box;
    caret-color: get-color(primary-text);
    color: get-color(primary-text);

    &::placeholder {
      color: get-color(primary-text);
      opacity: 0.63;
    }
  }
}

.searchResult {
  padding: $padding-4;
  max-height: 66vh;
  overflow-y: auto;

  .resultItem {
    border-bottom: 1px dashed get-color(sider-border);
    padding: $padding-2 0;
    .resultTitle {
      font-size: $heading-3;
      &:hover {
        border-bottom: 1px dotted get-color(primary-text)
      }
    }
    .resultExcerpt {
      opacity: $opacity-2;
      margin-top: $margin-1;
      
    }
  }
}
