@import '../../styles/variables.scss';

.postCard {
  margin: 0 auto $margin-3;
  overflow: hidden;

  .body {
    .title {
      margin: 0;
      .text {
        padding: $padding-2 $padding-2 0;
        display: block;
        line-height: 1.5;
        font-weight: 400;
        text-decoration: none;
        color: var(--color-font);
        font-size: $heading-3;
      }
    }
    .excerpt {
      margin: $margin-2 0;
      padding: 0 $padding-2;
      line-height: 1.8;
    }
  }
  .date {
    padding: 0 $padding-2 $padding-2;
    opacity: $opacity-1;
  }
}