@import '../../styles/theme/theme';

.postCard {
  margin: 0 auto $margin-3;
  overflow: hidden;
  // display: flex;
  // align-items: center;

  @include mobile {
    margin: 1rem;
    border-radius: 6px;
  }

  .cover {
    flex: none;
    // width: 200px;
  }

  .container {
    flex: auto;
    .body {
      .title {
        margin: 0;
        padding: $padding-2 $padding-2 0;
        line-height: 1.5;
        font-weight: 400;
        .text {
          text-decoration: none;
          color: get-color(primary-text);
          font-size: $heading-2;
          transition: all .3s ease-in-out;
  
          &:hover, &:active {
            color: get-color(primary);
          }
        }
      }
      .excerpt {
        margin: $margin-2 0;
        padding: 0 $padding-2;
        line-height: 1.8;
        opacity: $opacity-1;
      }
    }
    .metas {
      padding: 0 $padding-2 $padding-2;
      opacity: $opacity-2;
      .metaItem {
        margin-right: 1rem;
      }
    }
  }
}