@import '../../styles/variables.scss';

.postCard {
  background-color: #fff;
  border-radius: 6px;
  margin: 1.75rem auto;
  display: block;
  overflow: hidden;
  height: fit-content;

  .body {
    .title {
      margin: 0;
      .text {
        padding: 1rem 1rem 0;
        display: block;
        line-height: 1.5;
        font-weight: 400;
        text-decoration: none;
        color: var(--color-dark);
        font-size: 1.3rem;
        border: none;
      }
    }
    .excerpt {
      margin: 1rem 0;
      padding: 0 1rem;
      line-height: 1.8;
    }
  }
  .date {
    padding: 0 1rem 1rem;
    opacity: $opacity-1;
  }
}