@import '../../styles/variables.scss';

.categoriesPage {

  .header {
    margin-bottom: $margin-1;
    .tabList {
      display: block;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
  
      .tabItem {
        position: relative;
        padding: 0 $padding-4;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 3.8;
        white-space: nowrap;
  
        &:hover, &:active, &.active {
          &::before {
            transform: scaleY(1);
          }
        }
  
        &::before {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 38%;
          height: .3rem;
          content: "";
          transition: transform .4s;
          transform: scaleY(0);
          transform-origin: bottom center;
          border-radius: 3px 3px 0 0;
          background-color: var(--color-dark);
        }

        &::after {
          margin-left: $margin-1;
          padding: 2px 5px;
          border-radius: 3px;
          border: 1px solid;
          border-color: var(--color-gray);
          content: attr(count);
          font-size: .85rem;
          font-family: $font-family-number;
        }
      }
    }
  }

  .main {
    padding: $padding-4;

    .item {
      position: relative;
      display: block;
      margin-left: $margin-3;
      padding: $padding-1 0;
      line-height: 2rem;
      transition: color .15s;

      &::before {
        position: absolute;
        top: $margin-3;
        left: -$margin-2;
        content: "-";
        opacity: .63;
        transform: translateY(-50%);
      }

      .date {
        float: left;
        padding-right: $padding-1;
        white-space: nowrap;
        letter-spacing: 1px;
        font-size: .85rem;
        opacity: .63;
        font-family: Montserrat,'Josefin Sans','PingFang SC';
        line-height: 2rem;
      }
      .title {
        display: table-cell;
        font-size: 1.15rem;
        line-height: 2rem;
      }
    }
  }

  .pager {
    margin-top: $margin-3;
  }
}