.categoriesPage {
  margin: 1.75rem auto;

  .tabs {
    margin-bottom: 2px;
    border-radius: 6px;
    background-color: #fff;
    padding: 1rem;
  }

  .main {
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
  }
}