
@mixin external-link() {
  border-bottom: 1px dotted;
  transition: color .15s,border-color .15s,opacity .15s;
  &:hover {
    color: get-color(primary);
    border-bottom-style: solid;
  }
}

@mixin icomoon($content) {
  &::before {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: .4rem;
    content: $content;
  }
}
