

$font-size: 14px;

// 全局字体
$font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
// Johnson标题字体
$font-family-johnson: 'Lobster', 'cursive';
// 导航菜单字体
$font-family-nav: 'IM Fell DW Pica SC';
// 数字字体
$font-family-number: 'Sarpanch';
// 代码字体
$font-family-code: 'Fira Code', 'Consolas', 'monospace';

$mobile-width: 676px;
$tablet-width: 976px;

$margin-1: .5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;

$padding-1: .5rem;
$padding-2: 1rem;
$padding-3: 1.5rem;
$padding-4: 2rem;

$heading-1: 1.785714rem;
$heading-2: 1.428571rem;
$heading-3: 1.285714rem;
$heading-4: 1.142857rem;
$heading-5: 1rem;

$opacity-1: .8;
$opacity-2: .63;
$opacity-3: .5;

// icomoon

$icon-calendar: '\e92a';
$icon-clock: '\e93c';
$icon-folder: '\e96f';
$icon-eye: '\e962';
